{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="col-sm-8 post mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Inscription</h4>
                <hr>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
